doctype html
html(lang="en")
  head !{helmet}
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    meta(name="apple-mobile-web-app-capable" content="yes")/
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")/
    meta(name="apple-mobile-web-app-title" content="Mantabase")/
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")/
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png")/
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png")/
    link(rel="manifest" href="/app-manifest.json")/
    each jsBundleURL in jsBundleURLs
      link(rel="preload" href=jsBundleURL as="script")/
    each cssInline in cssInlines
      style(data-href=cssInline.url) !{cssInline.content}
  body
    div(id="root") !{appContent}
    script(id=requiredChunksID type="application/json") !{requiredChunksJSON}
    each jsInline in jsInlines
      script !{jsInline}
    each jsBundleURL in jsBundleURLs
      script(src=jsBundleURL async="")
    script !{swContent}
